$primary:       #AA0601; // red-normal
$secondary:     #650300; // red-dark
$third:         #FBF2F2; // red-light
$cloud:         #707070; // gray
$dark:          #000000; // dark

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "third":      $third,
  "cloud":      $cloud,
  "dark":       $dark,
);

$font-family-sans-serif: 'Noto Sans TC', Roboto, sans-serif;

$link-color:      $dark;
$link-decoration: none;

/* 有 prefix 的 variable 要怎麼設定？ */
// .nav-link:hover{ color: #fff !important;} 