
<nav class="navbar bg-primary p-0">
    <div class="container-sm d-flex p-0">
        <h1 class="mb-0 mx-3 py-4"><a href="index.html">Glasses Inc.</a></h1>
        <!-- PC/Pad -->
        <ul class="nav mb-0 py-4 d-none d-sm-flex">
            <li><a href="product.html" style="color:white;" class="fs-7 me-16 me-sm-10">系列鏡框</a></li>
            <li><a href="store.html" style="color:white;" class="fs-7 me-16 me-sm-10">門市據點</a></li>
            <li><a href="#" style="color:white;" class="fs-7 me-16 me-sm-10">部落格</a></li>
            <li><a href="qa.html" style="color:white;" class="fs-7 me-sm-3">常見問題</a></li>
        </ul>
        <!-- Mobile -->
        <ul class="nav mb-0 text-center d-sm-none" style="width: 100%;">
            <li class="border border-white py-3" style="width: 50%;"><a href="#" class="px-auto" style="color:white;">系列鏡框</a></li>
            <li class="border border-white py-3" style="width: 50%;"><a href="#" class="px-auto" style="color:white;">部落格</a></li>
            <li class="border border-white py-3" style="width: 50%;"><a href="#" class="px-auto" style="color:white;">門市據點</a></li>
            <li class="border border-white py-3" style="width: 50%;"><a href="#" class="px-auto" style="color:white;">常見問題</a></li>
        </ul>
    </div>
</nav>