<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main>
      <header style="background: url(/assets/images/home-header.png) no-repeat center / cover;">
        <div class="container text-end py-31">
          <p class="text-secondary fs-4">Promise-Desert 2020 早春系列</p>
          <p class="text-secondary fs-1 fw-bold">看得清，才能看得遠</p>
          <div class="btn btn-primary">立即購買</div>
        </div>
      </header>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
