<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>系列鏡框</title>
</head>
<body>
    <%- include('./layout/header'); -%>

    <main>
        <!-- Navigation -->
        <div class="container-lg p-0 px-lg-3"> 
            <ul class="nav nav-justified">
                <li class="nav-item border border-1 position-relative">
                    <a href="#" class="nav-link fs-sm-6 fs-lg-5 fw-bold px-3 py-6">OPTICAL</a>
                    <div class="border-bottom border-primary border-5 position-absoluate bottom-0"></div>
                </li>
                <li class="nav-item border border-1">
                    <a href="#" class="nav-link fs-sm-6 fs-lg-5 fw-bold px-3 py-6">SUNGLASSES</a>
                </li>
                <li class="nav-item border border-1">
                    <a href="#" class="nav-link fs-sm-6 fs-lg-5 fw-bold px-3 py-6">FUNCTIONAL</a>
                </li>
            </ul>
        </div>

        <!-- Header -->
        <div class="d-flex justify-content-center">
            <picture>
                <source 
                    srcset="/assets/images/product-header-1.png" 
                    media="(min-width:992px)">
                <img class="img-fluid" src="/assets/images/product-header-sm-1.png" alt="photo">
            </picture>
            <picture>
                <source 
                    srcset="/assets/images/product-header-2.png" 
                    media="(min-width:992px)">
                <img class="img-fluid" src="/assets/images/product-header-sm-2.png" alt="photo">
            </picture>
        </div>

        
        <div class="container py-20">
            <!-- Products -->
            <h5 class="text-center fs-sm-3">Celluloid Combi</h5>
            <p class="text-center fs-sm-5 mb-8">賽璐珞鈦金屬混合鏡框</p>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 gy-5">
                <div class="col">
                    <div class="card rounded-0 border-0">
                        <img class="card-img-top img-fuild rounded-0" src="/assets/images/product-1.png" alt="product photo">
                        <div class="card-body rounded-0 p-0">
                            <div class="d-flex justify-content-between">
                                <p class="m-0">BJ41600S</p>
                                <p class="text-primary fw-bold m-0">NTD3,490</p>
                            </div>
                            <div>
                                <a class="btn p-0" style="background-color: #5F3E2D; width:24px; height:24px;"></a>
                                <a class="btn p-0" style="background-color: #B75929; width:24px; height:24px;"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-0 border-0">
                        <img class="card-img-top img-fuild rounded-0" src="/assets/images/product-2.png" alt="product photo">
                        <div class="card-body rounded-0 p-0">
                            <div class="d-flex justify-content-between">
                                <p class="m-0">BJ41600S</p>
                                <p class="text-primary fw-bold m-0">NTD3,490</p>
                            </div>
                            <div>
                                <a class="btn p-0" style="background-color: #5F3E2D; width:24px; height:24px;"></a>
                                <a class="btn p-0" style="background-color: #B75929; width:24px; height:24px;"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-0 border-0">
                        <img class="card-img-top img-fuild rounded-0" src="/assets/images/product-3.png" alt="product photo">
                        <div class="card-body rounded-0 p-0">
                            <div class="d-flex justify-content-between">
                                <p class="m-0">BJ41600S</p>
                                <p class="text-primary fw-bold m-0">NTD3,490</p>
                            </div>
                            <div>
                                <a class="btn p-0" style="background-color: #5F3E2D; width:24px; height:24px;"></a>
                                <a class="btn p-0" style="background-color: #B75929; width:24px; height:24px;"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-0 border-0">
                        <img class="card-img-top img-fuild rounded-0" src="/assets/images/product-4.png" alt="product photo">
                        <div class="card-body rounded-0 p-0">
                            <div class="d-flex justify-content-between">
                                <p class="m-0">BJ41600S</p>
                                <p class="text-primary fw-bold m-0">NTD3,490</p>
                            </div>
                            <div>
                                <a class="btn p-0" style="background-color: #5F3E2D; width:24px; height:24px;"></a>
                                <a class="btn p-0" style="background-color: #B75929; width:24px; height:24px;"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-0 border-0">
                        <img class="card-img-top img-fuild rounded-0" src="/assets/images/product-5.png" alt="product photo">
                        <div class="card-body rounded-0 p-0">
                            <div class="d-flex justify-content-between">
                                <p class="m-0">BJ41600S</p>
                                <p class="text-primary fw-bold m-0">NTD3,490</p>
                            </div>
                            <div>
                                <a class="btn p-0" style="background-color: #5F3E2D; width:24px; height:24px;"></a>
                                <a class="btn p-0" style="background-color: #B75929; width:24px; height:24px;"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-0 border-0">
                        <img class="card-img-top img-fuild rounded-0" src="/assets/images/product-6.png" alt="product photo">
                        <div class="card-body rounded-0 p-0">
                            <div class="d-flex justify-content-between">
                                <p class="m-0">BJ41600S</p>
                                <p class="text-primary fw-bold m-0">NTD3,490</p>
                            </div>
                            <div>
                                <a class="btn p-0" style="background-color: #5F3E2D; width:24px; height:24px;"></a>
                                <a class="btn p-0" style="background-color: #B75929; width:24px; height:24px;"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-0 border-0">
                        <img class="card-img-top img-fuild rounded-0" src="/assets/images/product-1.png" alt="product photo">
                        <div class="card-body rounded-0 p-0">
                            <div class="d-flex justify-content-between">
                                <p class="m-0">BJ41600S</p>
                                <p class="text-primary fw-bold m-0">NTD3,490</p>
                            </div>
                            <div>
                                <a class="btn p-0" style="background-color: #5F3E2D; width:24px; height:24px;"></a>
                                <a class="btn p-0" style="background-color: #B75929; width:24px; height:24px;"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-0 border-0">
                        <img class="card-img-top img-fuild rounded-0" src="/assets/images/product-2.png" alt="product photo">
                        <div class="card-body rounded-0 p-0">
                            <div class="d-flex justify-content-between">
                                <p class="m-0">BJ41600S</p>
                                <p class="text-primary fw-bold m-0">NTD3,490</p>
                            </div>
                            <div>
                                <a class="btn p-0" style="background-color: #5F3E2D; width:24px; height:24px;"></a>
                                <a class="btn p-0" style="background-color: #B75929; width:24px; height:24px;"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-0 border-0">
                        <img class="card-img-top img-fuild rounded-0" src="/assets/images/product-3.png" alt="product photo">
                        <div class="card-body rounded-0 p-0">
                            <div class="d-flex justify-content-between">
                                <p class="m-0">BJ41600S</p>
                                <p class="text-primary fw-bold m-0">NTD3,490</p>
                            </div>
                            <div>
                                <a class="btn p-0" style="background-color: #5F3E2D; width:24px; height:24px;"></a>
                                <a class="btn p-0" style="background-color: #B75929; width:24px; height:24px;"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-0 border-0">
                        <img class="card-img-top img-fuild rounded-0" src="/assets/images/product-4.png" alt="product photo">
                        <div class="card-body rounded-0 p-0">
                            <div class="d-flex justify-content-between">
                                <p class="m-0">BJ41600S</p>
                                <p class="text-primary fw-bold m-0">NTD3,490</p>
                            </div>
                            <div>
                                <a class="btn p-0" style="background-color: #5F3E2D; width:24px; height:24px;"></a>
                                <a class="btn p-0" style="background-color: #B75929; width:24px; height:24px;"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-0 border-0">
                        <img class="card-img-top img-fuild rounded-0" src="/assets/images/product-5.png" alt="product photo">
                        <div class="card-body rounded-0 p-0">
                            <div class="d-flex justify-content-between">
                                <p class="m-0">BJ41600S</p>
                                <p class="text-primary fw-bold m-0">NTD3,490</p>
                            </div>
                            <div>
                                <a class="btn p-0" style="background-color: #5F3E2D; width:24px; height:24px;"></a>
                                <a class="btn p-0" style="background-color: #B75929; width:24px; height:24px;"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded-0 border-0">
                        <img class="card-img-top img-fuild rounded-0" src="/assets/images/product-6.png" alt="product photo">
                        <div class="card-body rounded-0 p-0">
                            <div class="d-flex justify-content-between">
                                <p class="m-0">BJ41600S</p>
                                <p class="text-primary fw-bold m-0">NTD3,490</p>
                            </div>
                            <div>
                                <a class="btn p-0" style="background-color: #5F3E2D; width:24px; height:24px;"></a>
                                <a class="btn p-0" style="background-color: #B75929; width:24px; height:24px;"></a>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            
            <!-- Pagination -->
            <nav aria-label="OPTICAL navigation" class="mt-20">
                <ul class="pagination justify-content-center">
                    <li class="page-item"><a class="page-link border-dark rounded-0" href="#">上一頁</a></li>
                    <li class="page-item"><a class="page-link border-dark rounded-0" href="#">1</a></li>
                    <li class="page-item"><a class="page-link border-dark rounded-0 active bg-dark" href="#">2</a></li>
                    <li class="page-item"><a class="page-link border-dark rounded-0" href="#">3</a></li>
                    <li class="page-item"><a class="page-link border-dark rounded-0" href="#">4</a></li>
                    <li class="page-item"><a class="page-link border-dark rounded-0" href="#">5</a></li>
                    <li class="page-item"><a class="page-link border-dark rounded-0" href="#">下一頁</a></li>
                </ul>
            </nav>
        </div>
    </main>
    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
</body>
</html>
