<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>眼鏡官網</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
        <div class="container py-20">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <p class="mb-8 mt-4 fs-2 fw-bold ps-4" style="border-left: solid 6px #9F1213;">常見問題</p>
                    <h5 class="mb-6">我想詢問配鏡問題</h5>
                    <ul class="p-0">
                        <li class="mb-8">
                            <h5>Q1.請問可否自備鏡框單配鏡片？</h5>
                            <p>A1.我牌鏡框搭配薄型非球面鏡片 1480 元，搭配功能型鏡片則依鏡片種類加價購買。 
                                <br>當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。 
                                <br>他牌鏡框，搭配薄型非球面鏡片 1980 元，搭配功能型鏡片則依鏡片種類加價購買。
                            </p>
                        </li>
                        <li class="mb-8">
                            <h5>Q2.眼鏡都可以20分鐘取件嗎？</h5>
                            <p>A1.我牌鏡框搭配薄型非球面鏡片 1480 元，搭配功能型鏡片則依鏡片種類加價購買。 
                                <br>當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。 
                                <br>他牌鏡框，搭配薄型非球面鏡片 1980 元，搭配功能型鏡片則依鏡片種類加價購買。
                            </p>
                        </li>
                        <li class="mb-8">
                            <h5>Q3.散光鏡片需要額外加價嗎？</h5>
                            <p>A1.我牌鏡框搭配薄型非球面鏡片 1480 元，搭配功能型鏡片則依鏡片種類加價購買。 
                                <br>當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。 
                                <br>他牌鏡框，搭配薄型非球面鏡片 1980 元，搭配功能型鏡片則依鏡片種類加價購買。
                            </p>
                        </li>
                        <li class="mb-8">
                            <h5>Q4.我可以使用舊眼鏡的度數配鏡片嗎？</h5>
                            <p>A1.我牌鏡框搭配薄型非球面鏡片 1480 元，搭配功能型鏡片則依鏡片種類加價購買。 
                                <br>當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。 
                                <br>他牌鏡框，搭配薄型非球面鏡片 1980 元，搭配功能型鏡片則依鏡片種類加價購買。
                            </p>
                        </li>
                        <li>
                            <h5>Q5.請問可以單購買鏡框嗎？</h5>
                            <p>A1.我牌鏡框搭配薄型非球面鏡片 1480 元，搭配功能型鏡片則依鏡片種類加價購買。 
                                <br>當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480 元），搭配功能型鏡片則依鏡片種類加價購買。 
                                <br>他牌鏡框，搭配薄型非球面鏡片 1980 元，搭配功能型鏡片則依鏡片種類加價購買。
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>